
:root {
    --naranjaUnam: rgb(255, 217, 79);
    --azulUnamOscuro: #292c2f;
        
    --color-glow: #ffffffe3;
    --color-texto: #ffffff;
    --color-texto_nollamativo: #c5c5c5; 
    --color-fondo: #202020;
    --color-blur: #c5c5c533;
    --color-barra: #303030;
    --color-icono-aside: #ffffff88;
    --color-indicador: #221f1fbf;
    --color-borde-indicador: #0303031c;
    --color-buscador: #5a5a5ab6;
    --color-resultado-busqueda-hover: #505050;
    --color-resultado-busqueda: #303030b0;
    --color-reproductor: #b0afaf27;
    --color-icon-reproductor: #c5c5c5;
    --color-reproduciendo-back-next-play-stop: #202020b8;

    --colorNaranjaHref: #ffa537;
}
::-webkit-scrollbar  /*Con esto se quita el scrollbar que trae por defecto el navegador https://es.stackoverflow.com/questions/56179/como-ocultar-el-scrollbar*/ 
{
    display: none;
}

*
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border: 0;
}
/*-----------ANIMACIONES------------*/

@keyframes 

desvanecido /*Es la animacion de cuando la contraseña aparece*/
{ 
    from 
    {
        opacity:0;
        transform: translateY(20px);
    }
    to 
    {
        opacity: 1;
        transform: translateY(0);
    }
}
/*-----------------------*/
/*
.desvanecido_out{
    opacity: 1;
    transition: opacity 1s cubic-bezier(.65,.35,.22,.66);
}*/
.crezca{
    transition: transform 1s;
}
.crezca:hover{
    transform: scale(1.03);
}
.glow{
    transition: filter 0.6s;
}
.glow:hover{
    filter:drop-shadow(0px 0px 6px var(--color-glow))
}
.glow_crezca{
    transition: transform 1s, filter 0.6s;
}
.glow_crezca:hover{
    transform: scale(1.2);
    filter:drop-shadow(0px 0px 6px var(--color-glow))
}
.blur{
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.286);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    transition: 1s transform;
}
.blur:hover{
    transform: scale(1.02);
}
.blur_color{
    background-color: var(--color-blur);
}
.animar-aparicion{
    animation: desvanecido 1s ease;
}
/*-----------*/
body
{
    min-height: 100vh;
    overflow-x: hidden;
}
nav
{
    padding: 20px;
    width: auto;
}

main
{
    margin: 0;
    padding: 0;
    border: 0;
}
/*--CLASES----------------------------------------------------------------------*/
.flexCentradoTitulo
{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.circulo
{
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.textoBlanco{
    color: white;
}
.textoNgero
{
    color: black;
}
.logo
{
    display: block;
    height: 70px;
    width: auto;
}
.inputLogin
{
    background-color: #ffffff2d;
    border-radius: 25px;
    text-align: center;
    border: 1px solid black;
    transition: 0.5s;
}
.inputLogin:hover
{
    transform: scale(1.2) translateX(20px) translateY(-2px);
    background-color: rgba(0, 0, 0, 0.575);
    color: #ffffff;
    filter:drop-shadow(10px 10px 10px black);
}
.botonTipo1
{
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: var(--azulUnam);
    color: #ffffff9d;
    border: 3px solid var(--naranjaUnam);
    border-radius: 10px;
    filter:drop-shadow(0 0 5px var(--naranjaUnam));
    transition: 0.7s;
}
.botonTipo1:hover
{
    padding: 10px;
    background-color: var(--naranjaUnam);
    color: var(--azulUnam);
    border: 3px solid var(--azulUnam);
    border-radius: 10px;
    filter:drop-shadow(0 0 10px var(--azulUnam));
}
.textoBlancoConBrillo
{
    color: #ffffff;
    filter: drop-shadow(0 0 5px white);
}
.fotoPerfilChiquita
{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.234);
    /*??? pq no respeta el nav el padding?*/ margin-right: 10px;
}
.fotoPerfilGrande
{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 4px solid rgba(0, 0, 0, 0.234);
}
.seccionDeAvisos
{
    background-color: rgba(1, 1, 1, 0.437);

    width: auto;
    height: 40vh;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.previewMateria
{
    background-color: #ffffff93;

    width: 100%;
    height: auto;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}
.footerGeneral
{
    background-color: var(--azulUnamOscuro);


    width: 100%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.despliegeDeTema
{
    width: auto;
    height: fit-content;
    margin: 10px 15px;
    padding: 10px;
    border-radius: 25px;
}
.cajaBlanca
{
    background-color: white;
}
.bordeNegro
{
    border: 1px solid black;
}
.textoNaranja
{
    color: var(--colorNaranjaHref);
}
.textoBlancoTransparente
{
    color: #ffffffbb !important;
}
.sinDelineado
{
    text-decoration: none;
}
.fillBlanco
{
    filter: brightness(0) invert(1) opacity(0.8);
    transition: 0.5s;
}
.fillBlanco:hover
{
    filter: brightness(0) invert(1) opacity(1);
}

.cajaRedondeadaConPadding
{
    height: 100%;
    width: fit-content;
    border-radius: 25px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;    
}
.textoChiquito
{
    font-size: 0.7em;
}
.redondeo25px
{
    border-radius: 25px;
}
/*-----------------------LOGO UNAM-------------------------------*/

#navInicioSesion
{
    background-color: var(--azulUnamOscuro);

    height: 13vh;
    width: 100vw;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
#logosContenedor
{
    height: fit-content;
    width: fit-content;

    display: flex;
    flex-direction: row;
    gap: 25px;
}
#contenedorEnlaces
{
    width: auto;
    height: 15vh;
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#imagenLogoSitioEtes
{
    height: 70px;
}
#seccionMateriasInscritas
{
    background-color: var(--azulUnamOscuro);

    width: auto;
    height: auto;
    margin: 10px;
    padding: 19px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
#materiasInscritas
{
    width: 100%;
    height: auto;

    display: inline-flex;
    flex-wrap: wrap;
}
#seccionInformacionDeLaMateria
{
    background-color: rgb(122, 122, 176);
    
    width: 100%;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#seccionModulos
{
    background-color: #ce4848;
    height: fit-content;
    width: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    
}
#contenedorDeBotonesModulo
{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 5px;
}
#seccionMateriales
{
    background-color: blueviolet;

    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#mainActividadVisualizacion
{
    width: 100%;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#seccionPerfilInformacion
{
    background-color: #e4b9b9;

    width: 100%;
    height: auto;
    padding: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#divDirecciones
{

    width: fit-content;
    height: fit-content;
    padding: 5px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
#divEnlacesAcuerdosYCreditos
{
    width: auto;
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction:column;
    gap: 5px;
    align-items: center;
}
#logosFooter
{
    width: 100%;
    height: fit-content;
    margin: 10px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
/*------------------------------------------------------*/