<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="autor" content="Equipo 9 CW 2026">
    <meta name="descripcion" content="Pagina web para angi jeje">
    <link rel="stylesheet" href="../statics/styles/draftCreaModulo.css">
    <link rel="stylesheet" href="../statics/styles/style.css">
</head>
<body class="centrarContenido">
    <div class="encabezado">
        <h1 class="titulo">Crear nuevo modulo</h1>
    </div>
    <div class="contenedorBusqueda">
        <div class="formulario">
            <h2 class="tituloDos">Añadir un nuevo Set</h2>
            
            <form action="guardar.php" method="POST" class="contenedorBusqueda">
                
                <label class="texto">Numero del modulo:</label>
                <input type="text" name="numModulo" required>

                <label class="texto">Nombre del modulo:</label>
                <input type="text" name="nombreModulo" required>

                <label class="texto">Descripcion:</label>
                <input type="modulo" name="descripcion" required>

                <!-- <label>Número de Piezas:</label>
                <input type="number" name="num_parts" required>

                <label>Tema del Set:</label>
                <select name="theme_id" required>
                    <option value="" disabled>Selecciona un tema...</option>
                                        
                    <?php
                        if(count($lista_temas)>0)
                        {
                            foreach($lista_temas as $tema)
                            {
                                $id_tema = $tema["theme_id"];
                                echo "<option value='$id_tema'> " . $tema['name'] . " </option>";
                            }
                        }
                    ?>
                </select>
                -->
                <input class="botonGuardado" type="submit" value="Guardar modulo">
            </form>
        </div>
    </div>
</body>
</html>